// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$serif-font-family: 'Georgia', serif;
$body-font-family: 'Barlow', 'Roboto', sans-serif;
$font-size-root: 18px;

$app-header-height: 64px;
$app-header-small-height: 56px;

$app-sidebar-width: 320px;

$container-max-widths: (
    'xl': 1420px,
);

$container-padding-x: 24px;

$headings: (
    'subtitle-1': (
        'line-height': 1.5,
    )
);

$font-weights: (
    'thin': 500,
    'light': 500,
    'regular': 500,
    'medium': 500,
    'bold': 600,
    'black': 600
);

// @import '~vuetify/src/styles/settings/_colors.scss';

// $shades: (
//     'black': #0d0d0d,
//     'white': #ffffff,
//     'transparent': transparent,
// );

$card-title-line-height: 1.35;
$card-title-word-break: normal;
$card-title-adjacent-sibling-subtitle-margin-top: -14px;
@import '~vuetify/src/components/VCard/_variables.scss';

$material-light: (
    'text': (
        'primary': rgba(black, 0.74),
    ),
);

@import '~vuetify/src/styles/settings/_light.scss';

@import '~vuetify/src/styles/styles.sass';
